DATABASE_URL="postgresql://postgres:postgres@localhost:5432/propify?schema=public"
AUTH_SECRET="generate-with-openssl-rand-base64-32"



NOWPAYMENTS_API_KEY=""
# IPN secret used to verify webhook signatures
NOWPAYMENTS_IPN_SECRET=""